{% extends 'to_do/base.html' %}
{% block content %}
{% load socialaccount %}
<div class="container text-center">
  {% for todo in todo_list %}
  {% if todo.is_done == False %}
    <div id="each_todo" class="card">
      <div class="card-body row align-items-center">
      <div class="col-10">
        <p>{{ todo.content | linebreaks }}</p>
      </div>
      {% if user.is_authenticated and todo.author == user %}
      <div class="col">
        <!-- <a role="button" href="{% url 'delete' todo.pk %}" id="done" class="btn btn-outline-dark">done</a> -->
        <a href="" id="done" class="btn btn-outline-dark">done</a>
      </div>
      {% endif %}
    </div>
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col">
          <h6>{{ todo.created_at | date:"Y-m-d"}}</h6>
        </div>
        <div class="col">
          <h6>by {{ todo.author | upper }}</h6>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock content %}